{% extends 'layouts/base_form.html' %}

{% block form_title %}
{% if form.instance.pk %} Edit Company {% else %} Add Company {% endif %}
{% endblock %}

{% block form_fields %}
<div class="row g-3">
  <!-- Basic Details -->
  <div class="col-12">
    <h5 class="border-bottom pb-2 text-primary">Basic Details</h5>
  </div>

  <div class="col-md-6">
    <label class="form-label fw-semibold">Company Name</label>
    {{ form.name }}
  </div>

  <!-- Linked Details -->
  <div class="col-12 mt-4">
    <h5 class="border-bottom pb-2 text-success">Linked Details</h5>
  </div>

  <div class="col-md-6">
    <label class="form-label fw-semibold">Address</label>
    <div class="input-group">
      <select id="addressSelect" name="address" class="form-select">
        <option value="">-- Select Address --</option>
        {% for addr in addresses %}
        <option value="{{ addr.id }}">{{ addr.line1 }} - {{ addr.city }}</option>
        {% endfor %}
      </select>
      <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addressModal">
        <i class="bi bi-plus"></i>
      </button>
    </div>
  </div>

  <div class="col-md-6">
    <label class="form-label fw-semibold">Contact</label>
    <div class="input-group">
      <select id="contactSelect" name="contact" class="form-select">
        <option value="">-- Select Contact --</option>
        {% for c in contacts %}
        <option value="{{ c.id }}">{{ c.email }} / {{ c.phone }}</option>
        {% endfor %}
      </select>
      <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#contactModal">
        <i class="bi bi-plus"></i>
      </button>
    </div>
  </div>

  <!-- Other Details -->
  <div class="col-12 mt-4">
    <h5 class="border-bottom pb-2 text-secondary">Other Details</h5>
  </div>

  <div class="col-md-6">
    <label class="form-label fw-semibold">GST Number</label>
    {{ form.gst_number }}
  </div>

  <div class="col-md-6">
    <label class="form-label fw-semibold">PAN Number</label>
    {{ form.pan_number }}
  </div>
</div>
{% endblock %}

{% block form_modals %}
{% include 'masters/company/address_modal.html' %}
{% include 'masters/company/contact_modal.html' %}
{% endblock %}
