{% extends "base_list.html" %}
{% load static %}

{% block content %}

{% comment %}
We pass all common variables from the view:
- object_list, columns, add_url, list_title, object_name, list_icon
{% endcomment %}

{% for obj in object_list %}
  {% comment %} Precompute the custom action column for each object {% endcomment %}
  {% with %}
    {% if obj.id %}
      {% with edit_url=obj.get_edit_url delete_url=obj.get_delete_url %}
        {% comment %}
        We'll handle rendering of the Actions column in base_list.html via a custom template tag or by overriding the cell.
        {% endcomment %}
      {% endwith %}
    {% endif %}
  {% endwith %}
{% endfor %}

{% endblock %}
